.calculator {
	border: 1px solid black;
}

/*
#btn {
	width: 150px;
}
*/
/*
button {
	position: relative;
	margin: 1px;
	padding: 10px;
	height: 30px;
	width: 100%;
	background-color: yellow;
	text-align: center;
}*/

