<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-controller="appController">
<div id="display">
    {{ testText }}
</div>
<button ng-click="operator()">test</button>
<table class="row">
    <thead class="col-md-12">
    <tr>
        <td>
            {{ button }}
        </td>
    </tr>
    </thead>
    <tbody>
    <tr class="row">
        <td class="col-md-3" ng-repeat="button in [1, 2 ,3 ,4] track by $index" ng-click="number(button)">
            <button> {{ button }} </button>
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-3" ng-repeat="button in [5 ,6 ,7, 8] track by $index" ng-click="number(button)">
            <button>{{ button }} </button>
        </td>
    </tr>
    <tr class="number1">
        <td class="col-md-3" ng-repeat="button in [9, 0] track by $index" ng-click="number(button)">
            <button>{{ button }} </button>
        </td>
        <td ng-repeat="button in ['+', '-'] track by $index" ng-click="operator(button)">
            <button>{{ button }} </button>
        </td>
    </tr>
    <tr class="number1">
        <td class="col-md-3" ng-repeat="button in ['X', '÷'] track by $index" ng-click="operator(button)">
            <button>{{ button }} </button>
        </td>
        <td ng-repeat="button in ['=', 'C'] track by $index">
            <button>{{ button }} </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="app.js"></script>
</html>